body {
  background: #aaa;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(107, 9, 121, 1) 35%,
    rgba(89, 53, 189, 1) 65%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header {
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin: 60px auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 100px minmax(300px, 2fr);
  column-gap: 16px;
  row-gap: 16px;
  grid-template-areas: "header header"
  "article aside"
  "footer footer";
}

.grid__element {
  background: red;
  padding: 16px;
}

.grid__element--1 {
  grid-area: header;
  z-index: 1;
  /* order: 2; */
}

.grid__element--2 {
  z-index: 1;
  grid-area: article;
}

.grid__element--3 {
  grid-area: footer;
}

.grid__element--4 {
  background: pink;
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid__element--5 {
  background: yellow;
  grid-area: 1 / 1 / 3 / 4;
}

.grid__element--6 {
  grid-area: aside;
}

h1 {
  color: red;
}
.menu {
  background: royalblue;
  margin-bottom: 10px;
  display: none;
}

.hamburger {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu--open {
  display: block;
}

.menu__link {
  color: yellow;
  display: block;
  padding: 5px 10px;
}
.menu__link--active {
  background: red;
}
.section {
  border: 1px solid #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}
.section__item {
  color: blueviolet;
}
.section__item--title {
  color: brown;
}
.section__item--little-title {
  color: tomato;
}

.form {
  color: white;
  width: 300px;
}

.form__input {
  display: block;
  width: 100%;
}

.form__label {
  display: block;
}

.form__textarea{
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 1024px) {
    .section {
        display: inline-block;
    }
    .menu {
      /* display: block; */
      display: flex;
      justify-content: center;
    }
    .menu__link {
      display: inline-block;
    }
    .hamburger {
      display: none;
    }
}